# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# SQLite database
*.db

# Environment files
.env
*.env

# Streamlit static
.streamlit/config.toml

# MacOS junk
.DS_Store

# VSCode settings (if you're using it)
.vscode/

# Jupyter (if used for testing)
*.ipynb_checkpoints

# Logs
*.log
